%svg-common {
  background: url("/{{#png}}{{{sprite}}}{{/png}}");
  background-repeat: no-repeat;
  display: inline-block;
}

{{#shapes}}
{{#selector.shape}}{{expression}}{{/selector.shape}} {
  @extend %svg-common;
  background-size: {{#backgroundsize}}{{spriteWidth}},{{width.outer}}{{/backgroundsize}}%;
  background-position: {{position.relative.xy}};
  width: {{width.outer}}px;
  height: {{height.outer}}px;
}
%{{#selector.shape}}svg-{{base}}{{/selector.shape}}{
  background-size: {{#backgroundsize}}{{spriteWidth}},{{width.outer}}{{/backgroundsize}}%;
  background-position: {{position.relative.xy}};
  width: {{width.outer}}px;
  height: {{height.outer}}px;
}

{{/shapes}}
