/*------------
    Colors
-------------*/
$white  : #fff !default;
$gray-fa: #fafafa !default;
$gray-f7: #f7f7f7 !default;
$gray-ea: #eaeaea !default;
$gray-e6: #e6e6e6 !default;
$gray-d8: #d8d8d8 !default;
$gray-9a: #9a9a9a !default;
$gray-77: #777777 !default;
$gray-4b: #4b4b4b !default;
$gray-40: #404040 !default;
$gray-31: #313131 !default;
$black  : #000 !default;

/*------------
    Grid
-------------*/
$grid-columns     : 12 !default;
$grid-gutter-width: 22px !default;
$grid-container-max: 1280px !default;


/*------------
  Typography
-------------*/
// Family
$font-family-sans-serif: Roboto,       "Helvetica Neue", Helvetica,         Arial, sans-serif !default;
$font-family-serif     : Merriweather, Georgia,          "Times New Roman", Times, serif !default;

// Weight
$font-weight-light : 300 !default;
$font-weight-normal: 500 !default;
$font-weight-bold  : 700 !default;

// Size
$font-size-base-small : 12px !default;
$font-size-base   : 16px !default;
$font-size-larger : 36px !default;
$font-size-medium : 24px !default;
$font-size-small  : 20px !default;
$font-size-x-small: 17px !default;